DEPLOYMENT_URL= https://sinsin5252.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/docusaurus-blog/
GITHUB_ORG=SinSin5252
GITHUB_PROJECT=docusaurus-blog
GIT_POJECT_TEMPLATE=https://github.com/Developer-Akademie-DevSecOpsKurs/dev-blog-template
GIT_REPOSITORY_URL=https://github.com/SinSin5252/docusaurus-blog
GIT_PROFILE=https://github.com/SinSin5252
BLOG_ENABLED=false
